<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <footer class="site-footer">

    <div class="cx-footer">

      <div class="footer-item" id="f-contato">

        <h3>Contato:</h3>

        <div class="contato">

          <a href="mailto:toimnasi@gmail.com" target="_blank">
            <div class="ct-item">
              <img src="{{ '/assets/img/mail-icon.png' | relative_url }}">
              <p>Email</p>
            </div>
          </a>
          
        </div>

      </div>

      <div class="footer-item" id="f-redes">

        <h3>Redes sociais:</h3>

        <div class="contato">

          <a href="https://www.instagram.com/toimnasi/" target="_blank">
            <div class="ct-item">
              <img src="{{ '/assets/img/insta-icon.png' | relative_url }}">
              <p>Instagram</p>
            </div>
          </a>

          <a href="https://www.facebook.com/antonio.nasi.73" target="_blank">
            <div class="ct-item">
              <img src="{{ '/assets/img/face-icon.png' | relative_url }}">
            <p>Facebook</p>
            </div>
          </a>

          <a href="https://www.youtube.com/@EstudosMarxiano-Lukacsianos" target="_blank">
            <div class="ct-item">
              <img src="{{ '/assets/img/youtube-icon.png' | relative_url }}">
              <p>Youtube</p>
            </div>
          </a>

        </div>

      </div>

      <div class="footer-item" id="f-indico">

        <h3>Sites indicados:</h3>

        <div class="contato">

          <a href="https://ivotonet.xp3.biz/" target="_blank">
            <div class="ct-item">
              
              <p>Ivo Tonet</p>
            </div>
          </a>

          <a href="https://deribaldosantos.com.br/" target="_blank">
            <div class="ct-item">
              
            <p>Deribaldo Santos</p>
            </div>
          </a>

          <a href="https://cristina-paniago.com.br/" target="_blank">
            <div class="ct-item">
              
              <p>Cristina Paniago</p>
            </div>
          </a>

          <a href="https://sergiolessa.org/" target="_blank">
            <div class="ct-item">
              
              <p>Sergio Lessa</p>
            </div>
          </a>
          
        </div>

      </div>

    </div>

    <hr>

    <p class="cr">© {{ site.time | date: "%Y" }} — {{ site.author }}</p>

    <a class="priva" href="{{ '/privacidade/' | relative_url }}">Política de Privacidade</a>

  </footer>
  
</body>
</html>