<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <header class="site-header">
    <!--
    <h1><a href="/">{{ site.title }}</a></h1>
    -->

    <div class="container-nav">

      <nav class="large-menu">

        <a href="{{ '/' | relative_url }}">
          <span class="material-symbols-outlined">home</span>
          <p>Início</p>
        </a>
        <a href="{{ '/blog/' | relative_url }}">
          <span class="material-symbols-outlined">news</span>
          <p>Blog</p>
        </a>
        <a href="{{ '/publicados/' | relative_url }}">
          <span class="material-symbols-outlined">picture_as_pdf</span>
          <p>Publicações</p>
        </a>
        <a href="{{ '/videos/' | relative_url }}">
          <span class="material-symbols-outlined">video_library</span>
          <p>Vídeos</p>
        </a>
        <a href="{{ '/atividades/' | relative_url }}">
          <span class="material-symbols-outlined">component_exchange</span>
          <p>Grupos</p>
        </a>
        <a href="{{ '/em-construcao/' | relative_url }}">
          <span class="material-symbols-outlined">download_for_offline</span>
          <p>Downloads</p>
        </a>
        <a href="{{ '/pesquisa/' | relative_url }}">
          <span class="material-symbols-outlined">content_paste_search</span>
          <p>Pesquisa</p>
        </a>
        <a id="a-serv" href="{{ '/eventos/' | relative_url }}">
          <span class="material-symbols-outlined">event_available</span>
          <p>Eventos</p>
        </a>

      </nav>

      <nav class="mobile-menu">
        <div class="mobile-container">
          <!-- Top Navigation Menu -->
          <div class="topnav">
            <a href="{{ '/' | relative_url }}" class="active">
              <img src="{{ '/assets/img/icon-mobile.png' | relative_url }}">
            </a>
            <div id="myLinks">
              <a href="{{ '/' | relative_url }}">
                <span class="material-symbols-outlined">home</span>Início</a>
              <a href="{{ '/blog/' | relative_url }}"><span class="material-symbols-outlined">news</span>Blog</a>
              <a href="{{ '/publicados/' | relative_url }}"><span class="material-symbols-outlined">picture_as_pdf</span>Publicações</a>
              <a href="{{ '/videos/' | relative_url }}"><span class="material-symbols-outlined">video_library</span>Vídeos</a>
              <a href="{{ '/atividades/' | relative_url }}"><span class="material-symbols-outlined">component_exchange</span>Grupos</a>
              <a href="{{ '/em-construcao/' | relative_url }}"><span class="material-symbols-outlined">download_for_offline</span>Downloads</a>
              <a href="{{ '/pesquisa/' | relative_url }}"><span class="material-symbols-outlined">content_paste_search</span>Pesquisa</a>
              <a href="{{ '/eventos/' | relative_url }}"><span class="material-symbols-outlined">event_available</span>Eventos</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <span id="menu-icon">☰</span>
            </a>
          </div>
        </div>
      </nav>
      <script src="../assets/js/menu-mobile.js"></script>

    </div>

    <div class="slider-wrapper">
  <div class="slider" id="featuredSlider">
    {% for post in site.posts %}
      {% if post.featured %}
        <article class="slide">
          <a href="{{ post.url }}" class="slide-link">

            <div class="slide-media">
              {% if post.image %}
                <img src="{{ post.image }}" alt="{{ post.title }}" loading="lazy">
              {% endif %}

              <div class="slide-overlay">
                <h3>{{ post.title }}</h3>
              </div>
            </div>

          </a>
        </article>
      {% endif %}
    {% endfor %}
  </div>

  <div class="slider-dots" id="sliderDots"></div>
</div>
    

    <script src="../assets/js/slider.js"></script>

  </header>

  
  
</body>
</html>
