<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <header class="site-header">
    <!--
    <h1><a href="/">{{ site.title }}</a></h1>
    -->

    

    <div class="container-nav">

      <div class="titulo-site">
        <h1>Antonio Nasi</h1>
        <p>A religião e materialismo histórico-dialético</p>
      </div>

      <nav class="large-menu">

        <a href="{{ '/' | relative_url }}">
          Início
        </a>
        <a href="{{ '/blog/' | relative_url }}">
          Blog
        </a>
        <a href="{{ '/publicados/' | relative_url }}">
          Publicações
        </a>
        <a href="{{ '/videos/' | relative_url }}">
          Vídeos
        </a>
        <a href="{{ '/atividades/' | relative_url }}">
          Grupos
        </a>
        <a href="{{ '/em-construcao/' | relative_url }}">
          Downloads
        </a>
        <a href="{{ '/pesquisa/' | relative_url }}">
          Pesquisa
        </a>
        <a id="a-serv" href="{{ '/eventos/' | relative_url }}">
          Eventos
        </a>

      </nav>

      <nav class="mobile-menu">
        <div class="mobile-container">

          
          <!-- Top Navigation Menu -->
          <div class="topnav">

            <div class="titulo-site-mobile">
              <h1>Antonio Nasi</h1>
              <p>A religião e materialismo histórico-dialético</p>
            </div>

            <a href="{{ '/' | relative_url }}" id="cx-logo">
              <img src="{{ '/assets/img/icon-mobile.png' | relative_url }}">
            </a>
            <div id="myLinks">
              <a href="{{ '/' | relative_url }}">
                <span class="material-symbols-outlined">home</span>Início</a>
              <a href="{{ '/blog/' | relative_url }}"><span class="material-symbols-outlined">news</span>Blog</a>
              <a href="{{ '/publicados/' | relative_url }}"><span class="material-symbols-outlined">picture_as_pdf</span>Publicações</a>
              <a href="{{ '/videos/' | relative_url }}"><span class="material-symbols-outlined">video_library</span>Vídeos</a>
              <a href="{{ '/atividades/' | relative_url }}"><span class="material-symbols-outlined">component_exchange</span>Grupos</a>
              <a href="{{ '/em-construcao/' | relative_url }}"><span class="material-symbols-outlined">download_for_offline</span>Downloads</a>
              <a href="{{ '/pesquisa/' | relative_url }}"><span class="material-symbols-outlined">content_paste_search</span>Pesquisa</a>
              <a href="{{ '/eventos/' | relative_url }}"><span class="material-symbols-outlined">event_available</span>Eventos</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <span id="menu-icon">☰</span>
            </a>
          </div>
        </div>
      </nav>
      <script src="../assets/js/menu-mobile.js"></script>

    </div>

    <!---
    <div class="slider-wrapper">
      <div class="slider" id="featuredSlider">
        {% for post in site.posts %}
        {% if post.featured %}
        <article class="slide">
          <a href="{{ post.url }}" class="slide-link">

            <div class="slide-media">
              {% if post.image %}
                <img src="{{ post.image }}" alt="{{ post.title }}" loading="lazy">
              {% endif %}

              <div class="slide-overlay">
                <h3>{{ post.title }}</h3>
              </div>
            </div>

          </a>
        </article>
        {% endif %}
        {% endfor %}
      </div>

      <div class="slider-dots" id="sliderDots"></div>
    </div>

    <script src="../assets/js/slider.js"></script>

    <div class="gradiente"></div>
    -->

    <div class="capa-site">
      <div class="gradiente-capa">
        <div class="txt-capa">
          <!--
          <p>A religião à luz do <br> <span> materialismo histórico-dialético.</span> </p>
          <a href="{{ '/blog/' | relative_url }}">Ler artigos</a>
          -->
        </div>
      </div>
    </div>

  </header>

  
  
</body>
</html>
