<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PopUp</title>
</head>
<body>
  <section class="sec-popup">
    <div class="cx-popup">
      <div class="img-popup">
        <img src="#" alt="Logo do ENITEESSC">
      </div>
      <div class="txt-popup">
        <h1>Estão abertas as inscrições para o V ENITEESSC</h1>
        <p>O evento científico, de caráter internacional, está em sua 5ª edição.</p>
        <button><a>Fazer inscrição</a></button>
      </div>
    </div>
  </section>
</body>
</html>
