
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #f2efea;
  color: #2c3e50;
}
h1, h2, h3, h4, span, a{
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  font-weight: 600;
  color: #2c3e50;
}


/*-------------------------------------------
  Container - preview post & blog archive
-------------------------------------------*/
.container {
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media screen and (max-width:600px){
  .container{
    display: block;
    padding: 0rem 1.2rem;
  }
}
@media screen and (min-width:600px) and (max-width:1200px){
  .container{
    display: flex;
    padding: 0rem 2rem;
  }
}


/*------------------------- 
  Footer
--------------------------*/
.site-footer {
  text-align: center;
  padding: 3rem 0rem;
  background: #ffffff;
  border-top: solid 1px #8c8c8c;
}
.cx-footer{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  column-gap: 2rem;
}
.footer-item{
  padding: 2rem;
  flex-basis: 33%;
}
#f-redes{
  border-right: solid 1px rgba(140, 140, 140, .5);
  border-left: solid 1px rgba(140, 140, 140, .5);
}
hr{
  max-width: 1200px;
  margin: 2rem auto 0;
  border: none;
  height: 1px;
  background-color: rgba(140, 140, 140, .5);
}
.site-footer h3{
  text-align: center;
  font-size: .8rem;
  margin-bottom: 1rem;
}
.contato{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto 1.5rem;
}
.contato a{
  text-decoration: none;
  color: #8c8c8c;
}
.contato .ct-item{
  display: flex;
  height: 20px;
  column-gap: .5rem;
}
.contato a img{
  width: 100%;
  filter: invert(50%);
}
.contato a p{
  font-size: .8rem;
}
.cr{
  font-size: .8rem;
  margin-top: 2rem;
}
.site-footer .priva{
  text-decoration: none;
  color: #2c3e50;
  font-size: .8rem;
}
@media screen and (max-width:600px){
  .cx-footer{
    display: block;
  }
  .contato{
    display: block;
  }
  .contato .ct-item{
    max-width: 100px;
    margin: 1rem auto;
  }
  .contato .ct-item img{
    width: 20px;
  }
}


/*------------------------- 
  Header & Nav
--------------------------*/
.site-header{
  background-color: #8c8c8c;
}
.site-header .container-nav{
  max-width: 1200px;
  margin: 0 auto;
  padding: .7rem 0rem;
}
.site-header .container-nav nav{
  width: auto;
  display: flex;
  justify-content: space-around;
}
.site-header .container-nav nav a{
  display: flex;
  width: 1.3rem;
  height: 1.3rem;
  align-items: center;
  column-gap: .5rem;
  text-decoration: none;
  color: #f2efea;
  font-size: .8rem;
  text-transform: uppercase;
}
.site-header .container-nav nav a:hover{
  background-color: #2c3e50;
  border-radius: 100%;
}
.site-header .container-nav nav a img{
  width: 100%;
}

@media screen and (max-width:600px){
  .site-header .container-nav nav a{
    width: 2rem;
  }
  .site-header .container-nav{
    padding: 1rem 0rem;
  }
}
@media screen and (max-width:1024px){
  .site-header .container-nav nav a p{
    display: none;
  }
}


/*------------------------- 
  Post individual
--------------------------*/
.container-post{
  display: flex;
  max-width: 1200px;
  margin: 3rem auto;
}
.container-post .l-side{
  width: 70%;
}
.post{
  padding-right: 10%;
}
.post h1{
  font-size: 2rem;
}
.post .post-meta{
  font-size: .8rem;
  margin: 1rem 0rem;
}
.post h3{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.post p{
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-align: justify;
  hyphens: auto;
}
.post img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  object-position: center;
  margin: 2rem 0;
  border-radius: .3rem;
}
.container-post .r-side{
  width: 30%;
}

@media screen and (max-width:600px){
  .container-post{
    display: block;
    padding: 0rem .6rem;
    width: auto;
  }
  .container-post .l-side{
    width: 100%;
  }
  .container-post .l-side .post{
    width: 100%;
    padding: 0rem;
  }
  .container-post .l-side .post h1{
    font-size: 1.5rem;
  }
  .container-post .l-side .post .post-meta{
    display: inline-block;
    font-size: .8rem;
    border: solid 1px #2c3e50;
    padding: .3rem .5rem;
    border-radius: .5rem;
  }
  .container-post .l-side .post p{
    font-size: 1.1rem;
  }
  .container-post .r-side{
    width: 100%;
  }
}
@media screen and (min-width:600px) and (max-width:1200px){
  .container-post{
    padding: 0rem 2rem;
    width: auto;
  }
}


/*------------------------- 
  Side bar
--------------------------*/
.sidebar {
  padding: 0rem;
}
.sidebar h3{
  font-size: 1.2rem;
  text-align: center;
  background-color: #8c8c8c;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  color: #f2efea;
  border-radius: .3rem;
}
.sidebar-posts{
  width: 100%;
}
.sidebar-posts .sidebar-post a {
  display: block;
  text-decoration: none;
  color: #2c3e50;
  margin-bottom: 2rem;
}
.sidebar-post img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 0px;
  border-radius: .3rem;
}
.sidebar-post span {
  display: block;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 600;
}
.sidebar-post span p{
  font-weight: 400;
  margin-top: .3rem;
}

@media screen and (max-width:600px){
  .sidebar{
    margin-top: 2.5rem;
  }
  .sidebar-posts .sidebar-post img{
    width: 35%;
    height: 100px;
    margin-right: 1rem;
  }
  .sidebar-posts .sidebar-post a{
    display: flex;
    align-items: center;
  }
}


/*------------------------- 
  Blog archive
--------------------------*/
.post-preview {
  padding-bottom: .7rem;
  background-color: white;
  flex-basis: 220.5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.post-preview:hover{
  box-shadow: 2px 2px 10px #2c3e50;
  transition: box-shadow .3s;
}
.post-preview .post-thumb{
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.post-preview .cx-txt-preview h2 a{
  font-size: .9rem;
}
.post-preview .cx-txt-preview p{
  font-size: .8rem;
}
.post-preview .cx-txt-preview .post-meta{
  margin: .5rem 0rem;
  color: #8c8c8c;
}

@media screen and (max-width:600px){
  .post-preview{
    margin: 1.2rem 0rem 2rem;
  }
}
.post-preview .cx-txt-preview{
  margin: 0rem .5rem;
}
.post-preview .cx-txt-preview h2{
  font-size: 1rem;
}
.post-preview .cx-txt-preview h2 a{
  text-decoration: none;
  color: #2c3e50;
}
.post-thumb {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: .5rem;
}


/*------------------------- 
  Slider
--------------------------*/
.slider-wrapper {
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.8s ease-in-out;
}
.slide {
  min-width: 100%;
  height: 360px;
}
.slide img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.slide-content {
  padding: 1rem;
  background: #f9f9f9;
}
.slider-dots {
  text-align: center;
  margin-top: -2rem;
}
.slider-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}
.slider-dots .active {
  background: #555;
}


/*------------------------- 
  Overlay do slider
--------------------------*/
.slide-media {
  position: relative;
  overflow: hidden;
}
.slide-media img {
  width: 100%;
  display: block;
}
.slide-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  padding: 1.5rem;
  color: #fff;
}
.slide-overlay h3 {
  margin: 0 auto 2rem;
  display: block;
  max-width: 1200px;
  padding: .5rem;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  background-color: #2c3e50;
  color: #f2efea;
}
.slide-overlay p {
  margin-top: 0.4rem;
  font-size: 0.95rem;
  text-align: center;
}
@media screen and (max-width:600px){
  .slide-overlay h3{
    font-size: 1.2rem;
  }
}

/*-------------------------------------------
  Últimos livros lançados
-------------------------------------------*/
.new-books{
  background-color: #8c8c8c;
  padding: 3rem 1.5rem;
}
.new-books h2{
  color: #f2efea;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.new-books .cx-books{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1.5rem;
}
.new-books .cx-books .book{
  display: flex;
  flex-direction: column;
  background-color: #f2efea;
  padding: 1rem;
  border-radius: .3rem;
  flex-basis: 220px;
  text-align: center;
}
.new-books .cx-books .book:hover{
  box-shadow: 2px 2px 10px #2c3e50;
  transition: box-shadow .3s;
}
.new-books .cx-books .book .subcx{
  width: 100%;
  height: 100%;
}
.new-books .cx-books .book .subcx img{
  width: 100%;
}
.new-books .cx-books .book .subcx h3{
  font-size: .8rem;
  margin-bottom: .5rem;
}
.new-books .cx-books .book .subcx p{
  font-size: .8rem;
  margin-bottom: .5rem;
}
.new-books .cx-books .book a{
  display: block;
  width: 100%;
  height: 2rem;
  text-decoration: none;
  color: #f2efea;
  background-color: #2c3e50;
  padding: .4rem 1rem;
  border-radius: .3rem;
}
.new-books .cx-books .book a:hover{
  background-color: #6e2c3a;
  transition: background-color .3s;
}
.new-books #button-books{
  text-decoration: none;
  font-size: .8rem;
  color: #f2efea;
  display: block;
  margin: 2rem auto 0;
  padding: .5rem 1rem;
  border: solid 1px #f2efea;
  border-radius: 1rem;
  width: 143px;
}
.new-books #button-books:hover{
  color: #2c3e50;
  background-color: #f2efea;
}

@media screen and (max-width:600px){
  .new-books h2{
    font-size: 1.2rem;
  }
  .new-books .cx-books{
    display: block;
  }
  .new-books .cx-books .book{
    width: auto;
    margin-bottom: 1.5rem;
  }
  .new-books .cx-books .book .subcx{
    width: 100%;
  }
  .new-books .cx-books .book .subcx img{
    width: 70%;
  }
}
@media screen and (min-width:600px) and (max-width:1200px){
  .new-books .cx-books .book{
    flex-basis: 221px;
  }
}


/*-------------------------------------------
  Todos os livros lançados
-------------------------------------------*/
.all-books{
  max-width: 1200px;
  margin: 3rem auto;
}
.all-books h2{
  color: #2c3e50;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.all-books .cx-books{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.all-books .cx-books .book{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .3rem;
  box-shadow: 1px 1px 6px #2c3e50;
  flex-basis: 220px;
  text-align: center;
}
.all-books .cx-books .book .subcx{
  width: 100%;
  height: 100%;
}
.all-books .cx-books .book .subcx img{
  width: 100%;
}
.all-books .cx-books .book .subcx h3{
  font-size: .8rem;
  margin-bottom: .5rem;
}
.all-books .cx-books .book .subcx p{
  font-size: .8rem;
  margin-bottom: .5rem;
}
.all-books .cx-books .book a{
  display: block;
  width: 100%;
  height: 2rem;
  text-decoration: none;
  color: #f2efea;
  background-color: #2c3e50;
  padding: .4rem 1rem;
  border-radius: .3rem;
}
.all-books .cx-books .book a:hover{
  background-color: #6e2c3a;
  transition: background-color .3s;
}

@media screen and (max-width:600px){
  .all-books{
    padding: 0rem 1rem;
  }
  .all-books h2{
    font-size: 1.2rem;
  }
  .all-books .cx-books{
    display: block;
  }
  .all-books .cx-books .book{
    width: auto;
    margin-bottom: 1.5rem;
  }
  .all-books .cx-books .book .subcx{
    width: 100%;
  }
  .all-books .cx-books .book .subcx img{
    width: 70%;
  }
}
@media screen and (min-width:600px) and (max-width:1200px){
  .all-books .cx-books .book{
    flex-basis: 221px;
  }
}



/*-------------------------------------------
  Atividades
-------------------------------------------*/
.main-content{
  max-width: 1200px;
  margin: 3rem auto;
}
.atividades{
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}
.ativ{
  flex-basis: 49%;
  display: flex;
  flex-direction: row;
  border: solid 1px rgba(140, 140, 140, .5);
  border-radius: .3rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  width: 100%;
  height: 278px;
  align-items: center;
}
.ativ-img{
  flex-basis: 30%;
  height: 100%;
}
.ativ-img img{
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
  border-radius: .3rem 0rem 0rem .3rem;
}
.ativ-desc{
  flex-basis: 70%;
  padding: .5rem .5rem .5rem 1rem;
}
.ativ-desc p{
  margin: .5rem 0rem;
  font-size: .9rem;
}
.ativ-desc a{
  text-decoration: none;
  background-color: #2c3e50;
  color: #f2efea;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-size: .8rem;
}
.ativ-desc a:hover{
  background-color: #6e2c3a;
  transition: background-color .3s;
}

@media screen and (max-width:600px){
  .main-content{
    padding: 0rem 1rem;
  }
  .atividades{
    display: block;
  }
  .ativ{
    height: auto;
    display: block;
  }
  .ativ-img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  .ativ-img img{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    box-shadow: 3px 3px 10px #8c8c8c;
  }
  .ativ-desc{
    padding: .5rem;
  }
  .ativ-desc a{
    display: block;
    text-align: center;
    width: 200px;
    margin: 0 auto;
  }
}