name: Post to Facebook

on:
  schedule:
    - cron: "*/30 * * * *"   # roda a cada 30 minutos
  workflow_dispatch:

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: pip install feedparser requests

      - name: Run script
        env:
          PAGE_TOKEN: ${{ secrets.FACEBOOK_PAGE_TOKEN }}
        run: python .github/scripts/post_to_facebook.py
